@model TennisWebApp8.Models.BookingVM
@using Microsoft.AspNetCore.Identity
@using TennisWebApp8.Data
@inject SignInManager<AccountUser> SignInManager
@inject UserManager<AccountUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/ManageStylesheet.css" />
</head>

<h1>Create</h1>

<h4>Booking</h4>
<hr />

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("ClientPlayer"))
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Day" class="control-label"></label>
                        <select asp-for="Day" class="select col-md-12" id="DaysList" asp-items="@ViewBag.Days">
                            <option>Select Day</option>
                        </select>
                        <span asp-validation-for="Day" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time" class="control-label"></label>
                        <select asp-for="Time" class="select col-md-12" id="TimesList">
                            <option>Select Time</option>
                        </select>
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Length" class="control-label"></label>
                        <br />
                        <select asp-for="Length" class="select col-md-12">
                            <option value="30">30 min</option>
                            <option value="60">1hr</option>
                        </select>
                        <span asp-validation-for="Length" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <select asp-for="Location" class="select col-md-12">
                            <option value="Ferndale Tennis Club">Ferndale Tennis Club</option>
                            <option value="Randburg Tennis Club">Randburg Tennis Club</option>
                        </select>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <br />
                        <select asp-for="Duration" class="select col-md-12">
                            <option value="4">4 lessons</option>
                            <option value="8">8 lessons</option>
                            <option value="12">12 lessons</option>
                        </select>
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div>
                        <a class="btn btn-success" asp-action="BookingIndex">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Day" class="control-label"></label>
                    <select asp-for="Day" class="select col-md-12" id="DaysList" asp-items="@ViewBag.Days">
                        <option>Select Day</option>
                    </select>
                    <span asp-validation-for="Day" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <select asp-for="Time" class="select col-md-12" id="TimesList">
                        <option>Select Time</option>
                    </select>
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <br />
                    <select asp-for="Length" class="select col-md-12">
                        <option value="30">30 min</option>
                        <option value="60">1hr</option>
                    </select>
                    <span asp-validation-for="Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <select asp-for="Location" class="select col-md-12">
                        <option value="Ferndale Tennis Club">Ferndale Tennis Club</option>
                        <option value="Randburg Tennis Club">Randburg Tennis Club</option>
                    </select>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <br />
                    <select asp-for="Duration" class="select col-md-11">
                        <option value="4">4 lessons</option>
                        <option value="8">8 lessons</option>
                        <option value="12">12 lessons</option>
                    </select>
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="Coach" class="control-label"></label>
                    <select asp-for="CoachId" class="select col-md-11" id="DaysList" asp-items="@ViewBag.Coachs">
                        <option>Select Coach</option>
                    </select>
                    <span asp-validation-for="CoachId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a class="btn btn-success" asp-action="BookingIndex">Back to List</a>
                </div>
            </form>
        </div>
    </div>
}



@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectchange event
        $("#DaysList").on("change", function () {

            $.ajax({
                type: 'Post',
                url: '@Url.Action("LoadTimes")',

                data: { "ddlid": $("#DaysList").val() },

                success: function (times) {
                    $("#TimesList").append('<option value="' + -1 + '">' +
                        "Select Time" + '</option>');

                    var items = '';
                    $(times).each(function () {
                        items += '<option value="' + this.text + '">' + this.text + '</option>';
                    })
                    $("#TimesList").html(items);

                },
                error: function (ex) {
                    alert('Failed to retieve states.' + ex);
                }
            });
            return false;
        })

    })

    </script>
}

