@{
    ViewData["Title"] = "Home Page";
}

<body id="index_body">
    <div >
        <h1 class="display-4">Tennis Booking App with ASP.NET Core</h1>
    </div>
    <p class="accent-blue ">
        Welcome to the tennis web app for champions 
    </p>
</body>

