.home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #199033;
}

.home-container4 {
    width: 100%;
    height: auto;
    display: flex;    
    align-items: center;
    flex-direction: column;
    background-color: #199033;
}

.home-navbar-container {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    position: sticky;
    box-shadow: 0px 0px 0px 0px ;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #b3f1be;
    margin-bottom: 0px;
}

.home-navbar {
    width: 100%;
    height: 61px;
    display: flex;
    position: relative;
    max-width: var(--dl-size-size-maxcontent);
    align-items: center;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: space-between;
    background-color: #b3f1be;
}

.home-left-side {
    width: 671px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.home-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-burger-menu {
    display: none;
    align-items: flex-start;
    flex-direction: column;
}

.home-icon {
    width: 36px;
    height: 36px;
}

.home-image {
    width: 56px;
    height: 52px;
    object-fit: cover;
    margin-right: var(--dl-space-space-fourunits);
}

.home-links-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.home-link {
    font-style: normal;
    line-height: 1.55;
    margin-right: var(--dl-space-space-tripleunit);
}

.home-link01 {
    width: 100%;
    font-style: normal;
    line-height: 1.55;
    margin-right: var(--dl-space-space-tripleunit);
}

.home-link02 {
    font-style: normal;
    line-height: 1.55;
    margin-right: var(--dl-space-space-tripleunit);
}

.home-link03 {
    font-style: normal;
    line-height: 1.55;
}

.home-link04 {
    font-style: normal;
    line-height: 1.55;
    margin-left: var(--dl-space-space-tripleunit);
}

.home-right-side {
    width: 374px;
    height: 62px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-register {
    color: var(--dl-color-gray-white);
    width: 167px;
    height: 45px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    border-style: solid;
    border-radius: var(--dl-radius-radius-radius24);
    text-transform: uppercase;
    background-color: var(--dl-color-gray-black);
}

.home-register1 {
    color: var(--dl-color-gray-white);
    width: 173px;
    height: 45px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    border-style: solid;
    border-radius: var(--dl-radius-radius-radius24);
    text-transform: uppercase;
    background-color: var(--dl-color-gray-black);
}

.home-mobile-menu {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    width: 100%;
    height: 100VH;
    display: none;
    padding: var(--dl-space-space-doubleunit);
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
}

.home-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: space-between;
}

.home-image1 {
    width: 50px;
    align-self: center;
    object-fit: cover;
    margin-right: var(--dl-space-space-doubleunit);
}

.home-close-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-icon02 {
    width: 24px;
    height: 24px;
}

.home-links-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-link05 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
}

.home-link06 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
}

.home-link07 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
}

.home-link08 {
    text-decoration: none;
}

.home-hero {
    width: 100%;
    height: 717px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-tenunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-tenunits);
    background-size: cover;
    justify-content: flex-start;
    background-image: url("istockphoto-914370940-612x612.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.home-text {
    top: 301px;
    left: 157px;
    color: var(--dl-color-gray-black);
    width: 75%;
    margin: auto;
    position: absolute;
    text-align: center;
}

.home-heading {
    text-align: center;
}

.home-training-available {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    align-items: center;
    padding-top: var(--dl-space-space-tenunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: #199033;
    margin-bottom: 0px;
}

.home-heading-container {
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-fiveunits);
    flex-direction: column;
}

.home-text01 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
}

.home-cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.home-features-card {
    width: 30%;
    height: 178px;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: var(--dl-radius-radius-radius24);
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: #FFFFFF;
}

.home-icon-container {
    display: flex;
    padding: var(--dl-space-space-unit);
    align-items: center;
    margin-right: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-icon04 {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.home-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-heading1 {
    margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text02 {
    color: var(--dl-color-gray-black);
    height: 100%;
    text-align: left;
}

.home-features-card1 {
    width: 30%;
    height: 172px;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: var(--dl-radius-radius-radius24);
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: #FFFFFF;
}

.home-icon-container1 {
    display: flex;
    padding: var(--dl-space-space-unit);
    align-items: center;
    margin-right: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-icon07 {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.home-text-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-heading2 {
    margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text03 {
    color: var(--dl-color-gray-black);
    text-align: left;
}

.home-features-card2 {
    width: 30%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: var(--dl-radius-radius-radius24);
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: #FFFFFF;
}

.home-icon-container2 {
    display: flex;
    padding: var(--dl-space-space-unit);
    align-items: center;
    margin-right: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-icon10 {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.home-text-container2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-heading3 {
    margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text04 {
    color: var(--dl-color-gray-black);
    height: 100%;
    text-align: left;
}

.home-features-card3 {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
}

.home-text-container3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-heading4 {
    margin-bottom: var(--dl-space-space-tripleunit);
}

.home-team {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    margin-top: var(--dl-space-space-fiveunits);
    align-items: center;
    padding-top: var(--dl-space-space-tenunits);
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: #199033;
}

.home-heading-container1 {
    width: 45%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
}

.home-text05 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
}

.home-text06 {
    color: #f9f8f8;
    text-align: center;
}

.home-cards-container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.home-team-card {
    display: flex;
    padding: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius24);
    flex-direction: column;
    background-color: #FFFFFF;
}

.home-avatar-container {
    display: flex;
    padding: var(--dl-space-space-fourunits);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-icon13 {
    width: 48px;
    height: 48px;
}

.home-name {
    margin-bottom: var(--dl-space-space-unit);
}

.home-position {
    color: var(--dl-color-gray-700);
}

.home-team-card1 {
    height: 261px;
    display: flex;
    padding: var(--dl-space-space-fourunits);
    align-items: center;
    border-radius: var(--dl-radius-radius-radius24);
    flex-direction: column;
    background-color: #ffffff;
}

.home-avatar-container1 {
    display: flex;
    padding: var(--dl-space-space-fourunits);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-icon15 {
    width: 48px;
    height: 48px;
}

.home-name1 {
    border-radius: var(--dl-radius-radius-radius24);
    margin-bottom: var(--dl-space-space-unit);
}

.home-team-card2 {
    display: flex;
    padding: var(--dl-space-space-fourunits);
    align-items: center;
    margin-right: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius24);
    flex-direction: column;
    background-color: #FFFFFF;
}

.home-avatar-container2 {
    display: flex;
    padding: var(--dl-space-space-fourunits);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-icon17 {
    width: 48px;
    height: 48px;
}

.home-name2 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-position1 {
    color: var(--dl-color-gray-700);
}

.home-section-separator {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #199033;
}

.home-section-separator1 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #199033;
}

.home-testimonials {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    margin-top: var(--dl-space-space-fiveunits);
    align-items: center;
    padding-top: var(--dl-space-space-tenunits);
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: #199033;
}

.home-heading-container2 {
    width: 45%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
}

.home-text07 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
}

.home-cards-container2 {
    width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.home-right-section {
    width: 100%;
    height: 618px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: row;
    justify-content: center;
}

.home-container3 {
    top: 18px;
    flex: 0 0 auto;
    right: -10px;
    width: 100%;
    display: flex;
    position: absolute;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-testimonial-card {
    top: -20px;
    right: 61px;
    width: 524px;
    height: 457px;
    display: flex;
    padding: 32px;
    position: absolute;
    max-width: 1400px;
    align-self: center;
    background: #fff;
    box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.home-icon19 {
    width: 2rem;
    margin-bottom: 32px;
}

.home-testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.home-text08 {
    color: var(--dl-color-gray-500);
    text-align: center;
    margin-bottom: 48px;
}

.home-text09 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: var(--dl-space-space-halfunit);
    background-color: #fff;
}

.home-text10 {
    color: var(--dl-color-gray-500);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
    background-color: #fff;
}

.home-image2 {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
}

.home-testimonial-card1 {
    top: -20px;
    left: 24px;
    width: 515px;
    height: 460px;
    display: flex;
    padding: 32px;
    position: absolute;
    max-width: 1400px;
    background: #fff;
    box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.home-icon21 {
    width: 2rem;
    margin-bottom: 32px;
}

.home-text11 {
    color: var(--dl-color-gray-500);
    text-align: center;
}

.home-testimonial1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #199033;
}

.home-text12 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: var(--dl-space-space-halfunit);
}

.home-text13 {
    color: var(--dl-color-gray-500);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
}

.home-image3 {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
}

.home-section-separator2 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-get-in-touch {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    margin-top: var(--dl-space-space-fiveunits);
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    justify-content: flex-start;
}

.home-text14 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
}

.home-content-container {
    width: 100%;
    display: flex;
    align-self: stretch;
    margin-top: var(--dl-space-space-fiveunits);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.home-form-container {
    width: 40%;
    display: flex;
    align-self: stretch;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tenunits);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-tenunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-900);
}

.home-heading5 {
    margin-bottom: var(--dl-space-space-fourunits);
}

.home-name3 {
    width: 100%;
    border: none;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
}

.home-email {
    width: 100%;
    border: none;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
}

.home-message {
    width: 100%;
    border: none;
    height: 140px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
}

.home-cta-btn {
    color: var(--dl-color-gray-white);
    text-align: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-tenunits);
    border-radius: var(--dl-radius-radius-radius24);
    padding-right: var(--dl-space-space-tenunits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-gray-black);
}

.home-locations-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-fiveunits);
    flex-direction: column;
}

.home-location-1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: column;
}

.home-heading6 {
    font-size: 24px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-doubleunit);
}

.home-adress {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
}

.home-icon23 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
}

.home-email1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
}

.home-icon25 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
}

.home-phone {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
}

.home-icon27 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
}

.home-section-separator3 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.home-footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #199033;
}

.home-footer-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #199033;
}

.home-footer {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    align-items: center;
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
    background-color: #199033;
}

.home-social-links {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #199033;
}

.home-icon29 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
}

.home-icon31 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
}

.home-icon33 {
    width: 24px;
    height: 24px;
}

.home-copyright-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.home-icon35 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
}

@media(max-width: 991px) {
    .home-hero {
        flex-direction: column-reverse;
    }

    .home-cards-container1 {
        justify-content: center;
    }

    .home-cards-container2 {
        flex-direction: column;
    }

    .home-right-section {
        width: 100%;
    }

    .home-text10 {
        align-self: center;
    }

    .home-text13 {
        align-self: center;
    }

    .home-form-container {
        width: 60%;
    }

    .home-locations-container {
        flex-wrap: wrap;
    }

    .home-location-1 {
        margin-bottom: var(--dl-space-space-tripleunit);
    }
}

@media(max-width: 767px) {
    .home-burger-menu {
        display: flex;
        padding: var(--dl-space-space-halfunit);
        border-radius: var(--dl-radius-radius-radius4);
        background-color: var(--dl-color-gray-black);
    }

    .home-icon {
        fill: var(--dl-color-gray-white);
    }

    .home-links-container {
        display: none;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        align-items: center;
        flex-direction: column;
    }

    .home-features-card {
        width: 70%;
        margin-bottom: var(--dl-space-space-tripleunit);
    }

    .home-features-card1 {
        width: 70%;
        margin-bottom: var(--dl-space-space-tripleunit);
    }

    .home-features-card2 {
        width: 70%;
        margin-bottom: var(--dl-space-space-tripleunit);
    }

    .home-features-card3 {
        width: 70%;
        margin-bottom: var(--dl-space-space-tripleunit);
    }

    .home-heading-container1 {
        width: 100%;
    }

    .home-heading-container2 {
        width: 100%;
    }

    .home-cards-container2 {
        align-items: center;
        flex-direction: column;
    }

    .home-testimonial-card {
        padding-left: 32px;
        padding-right: 32px;
    }

    .home-testimonial-card1 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .home-content-container {
        width: 100%;
        flex-direction: column;
    }

    .home-form-container {
        width: 100%;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-fourunits);
    }

    .home-locations-container {
        flex-direction: row;
        justify-content: center;
    }
}

@media(max-width: 479px) {
    .home-hero {
        padding-top: var(--dl-space-space-fourunits);
        padding-bottom: var(--dl-space-space-fourunits);
    }

    .home-training-available {
        padding-top: var(--dl-space-space-fiveunits);
        padding-bottom: var(--dl-space-space-fiveunits);
    }

    .home-features-card {
        width: 100%;
    }

    .home-features-card1 {
        width: 100%;
    }

    .home-features-card2 {
        width: 100%;
    }

    .home-features-card3 {
        width: 100%;
    }

    .home-team {
        padding-top: var(--dl-space-space-fiveunits);
        padding-bottom: var(--dl-space-space-fiveunits);
    }

    .home-text05 {
        text-align: center;
    }

    .home-testimonials {
        padding-top: var(--dl-space-space-fiveunits);
    }

    .home-text07 {
        text-align: center;
    }

    .home-testimonial-card {
        padding-top: 32px;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: 32px;
    }

    .home-icon19 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-text08 {
        margin-bottom: 32px;
    }

    .home-text09 {
        margin-bottom: var(--dl-space-space-halfunit);
    }

    .home-text10 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-testimonial-card1 {
        padding-top: 32px;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: 32px;
    }

    .home-icon21 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-text11 {
        margin-bottom: 32px;
    }

    .home-text12 {
        margin-bottom: var(--dl-space-space-halfunit);
    }

    .home-text13 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-content-container {
        padding-left: 0px;
    }

    .home-form-container {
        padding: var(--dl-space-space-tripleunit);
        margin-right: 0px;
    }

    .home-heading5 {
        text-align: center;
    }

    .home-location-1 {
        margin-right: 0px;
        margin-bottom: 0px;
    }
}
